body {
    font-family: 'Helvetica Neue',Helvetica,STHeiTi,sans-serif;
    overflow: auto;
    height: 100%;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch
}

.header-logo {
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center
}

.header-logo>img {
    width: 50vw;
    max-width: 190px
}

#search {
    position: relative;
    max-width: 750px;
    height: 58px;
    margin: 0 auto;
    margin-bottom: 36px;
    padding-right: 6.4%;
    padding-left: 6.4%;
    border-radius: 6px
}

#search .search-input {
    position: relative;
    height: 58px
}

#ul-box {
    padding-right: 5.6%;
    padding-left: 5.6%
}

#second-ul {
    padding-bottom: 36px
}

#second-ul .empt-item {
    visibility: hidden;
    height: 0;
    padding: 0;
    padding: 0;
    pointer-events: none;
    border-top-width: 0;
    border-bottom-width: 0
}

#search-list {
    position: absolute;
    z-index: 10;
    display: none;
    width: 100%;
    background: #fff
}

#search-list>ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    padding-top: 36px;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between
}

#search-list>ul img {
    max-width: 36px
}

#search .search-input-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    height: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 6px
}

#search .search-logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    height: 100%;
    padding-left: 12px;
    border-right: 1px solid #d9d9d9;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center
}

#search .change-search-ico {
    margin-right: 6px;
    margin-left: 6px
}

#search .input-content {
    width: 100%;
    height: 100%;
    padding-right: 12px;
    padding-left: 12px
}

#search .input-content input {
    font-size: 18px;
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #5c5c5c;
    border: none;
    outline: 0;
    background-color: rgba(0,0,0,0);
    -webkit-appearance: none
}

#search .search-logo img {
    max-width: 36px
}

a {
    text-decoration: none;
    color: inherit
}

.overflow-ellips {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

#list-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between
}

#list-item>li {
    margin-right: 2.7%;
    margin-left: 2.7%;
    text-align: center
}

#list-item>li>a {
    display: inline-block;
    overflow: hidden;
    min-width: 50px;
    max-width: 50px
}

#list-item>li>a>p {
    font-size: 12px;
    line-height: 1.5;
    padding-bottom: 24px;
    color: #a5a5a5
}

#list-item>li>a>.icon-img-box {
    font-size: 12px;
    line-height: 50px;
    overflow: hidden;
    width: 50px;
    height: 50px;
    color: #fff;
    border: 1px solid rgba(0,0,0,.06);
    border-radius: 50%
}

#list-item>li>a>p {
    padding-top: .9vh
}

#list-item>#fakeitem {
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    padding: 0;
    border-top-width: 0;
    border-bottom-width: 0
}

#search-suggestion {
    position: absolute;
    z-index: 9;
    width: 100%;
    background: #fff
}

#search-suggestion>ul {
    padding-bottom: 12px
}

#search-suggestion>ul>li {
    font-size: 18px;
    line-height: 24px;
    padding-top: 12px;
    cursor: default;
    color: #5c5c5c
}

#remindBrower {
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: .8;
    background: #222
}

#remindBrower #arrowsWeixin {
    height: 66px;
    padding-top: 5px
}

#remindBrower #arrowsWeixin>img {
    position: absolute;
    right: 6.4%
}

#remindBrower #remindFlow {
    position: relative;
    text-align: center
}

#remindBrower .remind-flow1 img {
    display: inline-block;
    width: 48px;
    vertical-align: middle
}

#remindBrower .renmind-arrows {
    height: 72px;
    padding-top: 24px
}

#remindBrower .remind-font {
    font-size: 14px;
    line-height: 18px;
    color: #fff
}

#remindBrower .remind-flow1>span {
    display: inline-block;
    margin-left: 8px;
    text-align: left;
    vertical-align: middle
}

#remindBrower .remind-flow1>span .firstp {
    margin-bottom: 6px
}

#remindBrower .remind-title {
    padding-top: 12px
}

#remindBRower .remind-font1 {
    font-size: 14px;
    line-height: 18px;
    color: #b6b6b6;
    border: none;
    background: 0 0
}

#remindBRower #content-url {
    padding-top: 60px;
    text-align: center
}

#remindBRower #content-url>div {
    width: 294px;
    margin: 0 auto;
    padding-bottom: 12px;
    white-space: normal;
    word-break: break-all
}

#remindBRower #copyUrlBtn {
    cursor: pointer
}

#remind-to-home {
    position: fixed;
    z-index: 9;
    bottom: 12px;
    left: 50%;
    min-width: 168px;
    height: 34px;
    padding-right: 12px;
    padding-left: 12px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: .6;
    border-radius: 4px;
    background: #222
}

.triangle-down {
    position: absolute;
    left: 50%;
    width: 0;
    height: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-top: 10px solid rgba(34,34,34,1);
    border-right: 8px solid transparent;
    border-left: 8px solid transparent
}

.close-button-remind {
    line-height: 30px;
    position: relative;
    position: absolute;
    top: -30px;
    right: 20px;
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 30px;
    height: 30px
}

.close-button-remind:after,.close-button-remind:before {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 30px;
    height: 5px;
    margin-top: -5px;
    margin-left: -15px;
    content: '';
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: #fff
}

.close-button-remind:after {
    -webkit-transform: rotate(45deg)!important;
    transform: rotate(45deg)!important
}

#remind-to-home .remind-to-home-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center
}

#remind-to-home #no-show {
    font-size: 12px;
    line-height: 18px;
    cursor: pointer;
    white-space: nowrap;
    color: #b6b6b6;
    border: none;
    background: 0 0
}

.close-remind-add {
    font-size: 14px;
    padding-top: 24px;
    color: #fff
}

#remind-to-home #add-to-screen {
    font-size: 12px;
    line-height: 18px;
    margin-left: 6px;
    white-space: nowrap;
    color: #fff
}

#folder-title {
    font-size: 36px;
    font-weight: 500;
    overflow: hidden;
    margin-top: 24px;
    margin-bottom: 36px;
    padding-right: 6.4%;
    padding-left: 6.4%;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #222
}

#list-item>li>a>.folder-icon-img-box {
    border: none
}
