blockquote,body,dd,dl,dt,fieldset,figure,h1,h2,h3,h4,h5,h6,hr,html,iframe,legend,li,ol,p,pre,textarea,ul {
    margin: 0;
    padding: 0
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: 400
}

ul {
    list-style: none
}

button,input,select,textarea {
    margin: 0;
    border-radius: 0;
    outline: 0;
    -webkit-appearance: none
}

html {
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

*,:after,:before {
    -moz-box-sizing: inherit;
    box-sizing: inherit
}

audio,embed,iframe,img,object,video {
    max-width: 100%;
    height: auto
}

iframe {
    border: 0
}

table {
    border-spacing: 0;
    border-collapse: collapse
}

td,th {
    padding: 0;
    text-align: left
}
